<html>
    <head>
        <style>
            nav {
                background-color: #b8b0af;
                border-width: 20px;
            }

            form {
                float: left;
                padding: 10px;
                margin: 0;
                font-family: "Impact", fantasy;
            }

        </style>
    </head>
    <% if Helpers.is_logged_in?(session)%>
        <h1>Your <%=@trip.name%> trip!</h1>
            <nav>
                <form action="/trips/edit" method='get'>
                    <button name="id" type="submit" value="<%=@trip.id%>">Edit Trip</button>   
                </form>
                <form action="/trips/<%=@trip.id%>" method='post'>
                    <input id="hidden" type="hidden" name="_method" value='delete'>
                    <button name="id" type="submit" value="<%=@trip.id%>">Delete Trip</button> 
                </form>
                <form action="/flights/<%=@trip.id%>/new" method='get'>
                    <button name="id" type="submit" value="<%=@trip.id%>">Add a flight</button>  
                </form>
                <form action="/flights/<%=@flight.id%>/show" method='get'>
                    <button name="id" type="submit" value="<%=@flight.id%>">View Flight(s) Info</button> 
                </form>
                <form action="/user/homepage" method='get'>
                    <button name="id" type="submit" value="<%=@trip.id%>">Back to Homepage</button> 
                </form>
            </nav>
            <br>
            <br>
        <h2>Your trip to <%=@trip.destination%> is set to start on:</h2>
            <h5><%=@trip.start_date%></h5> 
        <h2>Will end on: </h2>
        <h5> <%=@trip.end_date%> </h5>
        <h2> Flight Info: </h2>
        <% if @flight == nil %>
            <h5> You have no flight(s) planned for this trip </h5>
        <% else %>
            <section>
                <h4> <%= @flight.airline %> </h4>
                <h5>Departure from: <%= @flight.depart_from %> on: <%= @flight.depart_date %></h5>
                <h5>Arrial from: <%= @flight.arrival_to %> on: <%= @flight.arrival_date %> </h5>
                
            </section>
        <% end %>
    <% end %>
<html>
