<html>
    <head>
        <style>
            nav {
                background-color: #b8b0af;
                border-width: 20px;
            }

            form {
                float: left;
                padding: 10px;
                margin: 0;
                font-family: "Impact", fantasy;
            }

        </style>
    </head>
    <% if Helpers.is_logged_in?(session)%>
        <% binding.pry %>
        <h2> Here are the details for your <%=@trip.name%> trip! </h2>
            <nav>
                <form action="/trips/edit" method='get'>
                    <button name="id" type="submit" value="<%=@trip.id%>">Edit Trip</button>   
                </form>
                <form action="/trips/<%=@trip.id%>" method='post'>
                    <input id="hidden" type="hidden" name="_method" value='delete'>
                    <button name="id" type="submit" value="<%=@trip.id%>">Delete Trip</button> 
                </form>
                <form action="/flights/<%=@trip.id%>/new" method='get'>
                    <button name="id" type="submit" value="<%=@trip.id%>">Add a flight</button>  
                </form>
                <form action="/user/homepage" method='get'>
                    <button name="id" type="submit" value="<%=@trip.id%>">Back to Homepage</button> 
                </form>
            </nav>
            <br>
            <% #binding.pry %>
            <br>
        <h3>Your trip to <%=@trip.destination%> is set to start on:</h3>
            <h5><%=@trip.start_date%></h5> 
        <h3>...and will end on: </h3>
        <h5> <%=@trip.end_date%> </h5>
            <br>
    <% end %>
<html>
