<% if Helpers.is_logged_in?(session)%>
    <div id="page">
        <div  id="intro">
            <h3> Welcome, <%=Helpers.current_user(session).name%> </h3>
            <div id="nav">
                <nav>
                    <a href="/trips/new"> Create a new Trip </a>
                    <br>
                    <div id="logout">
                        <a href="/logout">Log Out</a>
                    </div>
                    <% #<a href="/trips/past_trips"> View you past trips </a>%>
                    <br>
                    <% #<a href="/trips/future_trips"> View your future trips </a>%>
                </nav>
            </div>
        </div>
            <section id="trips">
                <h4> Your current trips: </h4>
                    <% if Helpers.current_user(session).trips.size > 0 %>
                        <% Helpers.current_user(session).trips.map do |trip| %>
                            <div>
                                <ul>
                                    <li> <a href="/trips/<%=trip.id%>"> <%=trip.name%> </a> </li>
                                    <br>
                                    <h5> Starting on: <%= trip.start_date %> </h5>
                                    <h5> Ending on: <%= trip.end_date %> </h5>
                                </ul>
                            <br>
                            </div>
                        <%end%>
                    <% else %>
                        <%= "You have no trips planned :-(" %>
                    <% end %>
                    <br>
                    <br>
            </section>
    </div>
<% end %>
       