<html>
    <head>
        <style>
            #page #intro {
                background-color: #b8b9c0;
                border-style: solid;
                border-width: 10px;
            }

            #page #intro h3 {
                font-size: 25px;
                font-family: "Courier New", monospace;
                text-align: center;
            }           

            #background #content {
                height: 80%;
                width: 70%;
            }

            nav {
                text-align: center;
                padding: 20px;
                margin: 0;
            }

            nav a {
               padding: 10px;
               font-family: "Impact", fantasy;
            }

            h4{
                font-family: "Impact", fantasy;
                text-align: left;
                padding-left: 20px;
            }
        </style>
    </head>
    <% if logged_in? %>
            <div id="page">
                <div  id="intro">
                    <h3> Welcome, <%=@current_user.name%> </h3>
                        <nav>
                            <a href="/trips/new"> Create a new Trip </a>
                            <a href="/user/inspiration">Need Inspiration? </a>
                            <a href="/logout">Log Out</a>
                        </nav>
                </div>
                <section id="trips">
                    <h4> Your current trips: </h4>
                        <% if @current_user.trips.size > 0 %>
                            <% @current_user.trips.map do |trip| %>
                                <div>
                                    <ul>
                                        <li> <a href="/trips/<%=trip.id%>"> <%=trip.name%> </a> </li>
                                        <br>
                                        <h5> Starting on: <%= trip.start_date %> </h5>
                                        <h5> Ending on: <%= trip.end_date %> </h5>
                                    </ul>
                                    <br>
                                </div>
                            <%end%>
                        <% else %>
                            <%= "You have no trips planned :-(" %>
                        <% end %>
                        <br>
                        <br>
                </section>
            </div>
    <% else %>
            
            <h1> Error </h1>
            <h4>Sorry for the issue, please log in to your account </h4>
            <a href="/"> Return to front page </a>
            
    <% end %>
</html>
       