<html>
    <head>
        <style>
        </style>
    </head>
    <% if @trip.user_id == @current_user.id %>
        <h1> Your Flight Details! </h1>
            <nav>
                <form action="/trips/<%=@trip.id%>" method='get'>
                    <button name="id" type="submit" value="<%=@trip.id%>">Back to Trip Info</button> 
                </form>
                <br>
                <form action="/flights/<%=@flight.id%>/edit" method='get'>
                    <button name="id" type="submit" value="<%=@flight.id%>">Edit Flight details</button> 
                </form>
            </nav>
                <h3>Airline: <%=@flight.airline%>  </h3>
                <h3>Confirmation: <%=@flight.confirmation%>  </h3>
                <h3>Seat: <%=@flight.seat%>  </h3>
                <h3>Departure Date: <%=@flight.depart_date%>  </h3>
                <h3>Departure Time: <%=@flight.depart_time%>  </h3>
                <h3>Departing From: <%=@flight.depart_from%>  </h3>
                <h3>Arrival Date: <%=@flight.arrival_date%>  </h3>
                <h3>Arrival Time: <%=@flight.arrival_time%>  </h3>
                <h3>Arriving to: <%=@flight.arrival_to%>  </h3>
    <% else %>
        
    <% end %>
</html>